body{

}

.jumbotron{
    background-image: url(../img/red.jpeg);
    background-size: 100% 100%;
    color: #ffffff;
}

.jumbotron img{
    opacity: 0.5;
}

.border {
    border: 1px solid #1d760d;
    border-radius: 5px;
    background-color: #28a74524;
    padding: 20px;
}

.img-background{
    background-image: url(../img/img-background.jpeg);
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.registro{
    border: 1px solid #1d760d;
    background: red;
    position: relative;
    z-index: 2;
    width: 800px;
    height: 500px;
    padding: 40px;
}

.title-registro {
    border: 1px solid #1d760d;
    border-radius: 5px;
    background-color: #28a74524;
}
.mapa{
    padding: 10px;
}

.info-instalaciones{
    padding: 10px;
    width: 80px;
    height: 200px;
    margin-top: 130px;

}
.icons{
    color: #1fce6d;
    font-size: 32px;
    float: left;
}

.title-servicios{
    margin-left: 40px;
    margin-bottom: 30px;
}

.wrapper-servicios{
    width: 100%;
    height: 300px;
    margin: 70px 0px 0px 0px;

}